@import '@/assets/base.css';
@import '@/assets/menu.css';

#content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-10px);
  }

  100% {
      transform: translateY(0);
  }
}

.animate-bounce {
  animation: bounce 1.5s infinite;
}

*:not(.enable-select) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hover-hand {
  cursor: pointer;
}